.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.miContenedor {
    background-image: url('../../assets/images/triangles.png');
    background-position: center;
    height: 100%;
    padding: 50px;
    text-align: center;
}