<div id="contCentral">
    <div id="box1">
        <br>
        <h2>Visualizador de Archivos CSV</h2>
        <p id="text">
            Aplicación web que permite subir un archivo Excel (csv) y elegir las columnas de este para poder desplegar los gráficos estadísticos con la librería matplotlib.
        </p>
        <h3 class="arriba">Requerimientos:</h3>
        <ul class="arriba">
            <li class="arriba">Tener una página de inicio con la información del proyecto.</li>
            <li class="arriba">Habilitar un espacio para cargar un archivo csv</li>
            <li class="arriba">Poder elegir entre las opciones de gráficos scatter, lineales, barras, barrasY y Pie</li>
            <li class="arriba">Poder seleccionar las distintas columnas del archivo.</li>
        </ul>
        <div class="col text-center">
            <button routerLink="/visualizer" routerLinkActive="active" id="getStarted" type="button" class="btn btn-primary btn-lg">Empieza a Visualizar!</button>
        </div>
        <br>
        <img id="blanco" src="../../assets/images/white.png" alt="Your Pizza Bros">
    </div>
</div>